@font-face {
    font-family: 'cambria';
    src: url("../fonts/Cambria-Font-For Android.ttf");
}
h1{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10%;
}
.boxProdutes{
    display: flex;
    margin-top: 13%;
}
.boxImg{
    border: 1px solid #ff00b4;
    width: 40%;
    margin-left: 7%;
    text-align: center;
}
.boxProdutes small{
    text-decoration-line: line-through;
}
#boxRevista{
    display: flex;
    text-align: center;
}
.boxRevistaImg{
    width: 40%;
    border: 1px solid #ff00b4;
    margin-left: 4%;
    padding: 15px 9px 15px 9px;
}
.boxRevistaImg p{
    border: 1px solid #ff00b4;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#revista2{
    margin-top: 10%;
}
h2{
    text-align: center;
    margin-top: 20%;
}
.boxTitleText{
    display: flex;
    text-align: center;
}
.linha{
    width: 33%;
    border-bottom: 1px solid red;
    margin-bottom: 12%;
}
#subTitle2{
    margin-bottom: 10%;
    color: red;
}
#subTitle1{
   margin-bottom: 15%;
}
span{
    text-align: center;
    display: block;
}

#boxMenu{
    width: 50%;
    display: none;
    position: fixed;
    margin: -3%;
    border-radius: 2px;
}
#boxMenu a{
    background-color: #C0C0C0;
    padding: 9% 0px 9% 10%;
    text-decoration: none;
    border-radius: 0px 7px 7px 0px;
}
#boxMenu a:hover{
    width: 103%;
    padding: 9% 10% 9% 20%;
    text-align: center;
    transition: padding 1s ease-in-out;
}
#iconOpen{
    position: fixed;
    
}
#boxFecharMenu{
    direction: rtl;
}
p{
    font-family: 'cambria';
}
#box_menu {
    display: flex;
    text-align: center;
    padding: 9vh 0px 9vh 5vw;
    border: 1px solid #877c87;
    border-radius: 5px;
    margin-top: 13vh;
}
#box_menu img {
    border-radius: 5px;
}
#box_menu div {
    ma
}