@font-face {
    font-family: 'tech';
    src: url('../fonts/OriginTech personal use.ttf');
}

* {
    font-family: 'tech';
}

h2 {
    text-align: center;
}

#conteiner {
    display: grid;
    grid-template-columns: auto auto;
    
    grid-gap: 6vh 3vw;
}

#conteiner div {
    text-align: center;
    border: 2px solid green;
    border-radius: 4px;
}

