@font-face {
    font-family: 'tech';
    src: url('../fonts/OriginTech personal use.ttf');
}

* {
    font-family: 'tech';
}

#conteiner {
    display: grid;
    grid-template-columns: auto auto;
    
    grid-gap: 3vh 6vw;
}

#conteiner div {
    border-radius: 4px;
    border: 1px solid green;
    text-align: center;
}




