
@font-face  {
    font-family: 'aaa';
    src: url('../fonts/OriginTech personal use.ttf');
}
*{
    font-family: 'aaa';
}

section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

section div {
    border: pink 2px solid;
    text-align: center;
    width: 40vw;
}

#batom_aviva {
    text-align: center;
    position: absolute;
    top: 0;
}

#lapis_olho2em1 {
    text-align: center;
    position: absolute;
    top: 0;
}

.box_paleta article{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-gap: 4vh;
}

.box_paleta article div {
    border: 2px solid purple;
    border-radius: 75%;
    width: 8vw;
    height: 5vh;
}

.box_paleta article div:hover {
    border: 2px solid green;
}

.legenda_cores {
    border: none;
    
}
.legenda_cores div{
    width: 3vw;
    height: 2vh;
    border-radius: 70%;
}

.legenda_cores article {
    display: flex;
    justify-content: space-around;
}

.border_menu_T {
    border: 1px solid red;
    width: 15vw;
    transform: rotate(47deg);
    
}
.border_menu_B {
    border: 1px solid red;
    width: 15vw;
    transform: rotate(-47deg);
    
}
